body{
    margin: 0;
    height: 100%; overflow: hidden
}
@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; font-weight:bold; }
.play{
    width: 30vw;
    max-width: 15em;
    transition: 0.2s ease-in-out;
}
.container{
    display: none;
}

 .bigContainer{
    display: none;
}
 .logo{
    display: none;
 }


.inGame .play{
    display: none;
}
.play:hover{
    scale: 1.2;
}

.play:active{
    scale: 1.2;
}
.viddiv{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -200;
    margin: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden
}

.inGame .container{

    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container2{

    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inGame .design{
   transform: scale(0);
    margin-top: 4em;
    opacity: 98%;
    width: 90%;
    height: auto;
margin-top: 0;
    animation: design 6s 1 cubic-bezier(0.56, 0.02, 0.87, 0.27) forwards;
    animation-delay: 1s;
}


@keyframes design {
    0%{
       
        opacity: 0%;
        margin-top: -2%;
        transform: scale(0);
        transition: ease-in;

    }
    25%{
        opacity: 98%;
    }

    90%{
        opacity: 98%;
    }
    100%{
        transition: ease-in;
        margin-top: -70em;
        transform: scale(8);
        
        opacity: 0%;
    }

}
.inGame .member{
     margin-top: 4em;
    opacity: 98%;
    width: 90%;
    height: auto;
    margin-top: 0;
    animation: member 6s 1 cubic-bezier(0.56, 0.02, 0.87, 0.27) forwards;

    animation-delay: 6s;
    transform: scale(0);
}

@keyframes member {
    0%{
    
        opacity: 0%;
        margin-top: -2%;
        transform: scale(0);
    }
    25%{
 
        opacity: 97%;
    }
    90%{
        opacity: 98%;
    }
    100%{
        margin-top: -40em;
        transform: scale(8);
        
        opacity: 0%;
    }

}

@keyframes ranks {
    0%{
    
        opacity: 0%;
        margin-top: -3%;
        transform: scale(0);
    }
    25%{
 
    opacity: 40%;
    }
    80%{
        opacity: 98%;
    }
    100%{
 
        transform: scale(1);
        
  
    }
}

.inGame .bigContainer{
    transform: scale(0);
    animation: ranks 4s 1 cubic-bezier(0.56, 0.02, 0.87, 0.27) forwards;
    animation-delay: 10s;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
      
        margin: 0;
        width: 100vw;
        height: 100vh;
      
    }
    .inGame .bigContainer2{
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
       
            margin: 0;
            width: 100vw;
            height: 100vh;
          
        }
            
        .inGame .smallContainer{
  
    width: 80vw;
    height: 90vh;
    z-index: 100;
    display: flex;
    align-items: space-between ;
    justify-content: space-between;
    align-content: center
}

.inGame .smallContainer2{

    width: 80vw;
    height: 90vh;
    margin-top: 2em;
    display: flex;
    align-items: space-between ;
    justify-content: space-between;
    align-content: center
}
.inGame .allTier{
    margin-top: 5.8em;
    width: inherit;
    MARGIN-LEFT: 0.5EM;
    MARGIN-RIGHT: 0.5EM;
    box-sizing: border-box;
    background:  rgba(255, 255, 255,0.8);

    backdrop-filter: blur(4px);
    border: 1px solid #5284e2;
    border-radius: 3em;

}
.inGame .allTier1{
    margin-top: 5.8em;
    width: inherit;
    MARGIN-LEFT: 0.5EM;
    MARGIN-RIGHT: 0.5EM;
    box-sizing: border-box;
    background:  rgba(255, 255, 255,0.8);

    backdrop-filter: blur(4px);
    border: 1px solid #5284e2;
    border-radius: 3em;

}
.inGame .allTier2{
    margin-top: 5.8em;
    width: inherit;
    MARGIN-LEFT: 0.5EM;
    MARGIN-RIGHT: 0.5EM;
    box-sizing: border-box;
    background:  rgba(255, 255, 255,0.8);

    backdrop-filter: blur(4px);
    border: 1px solid #5284e2;
    border-radius: 3em;

}
.inGame .allTier3{
    margin-top: 5.8em;
    width: inherit;
    MARGIN-LEFT: 0.5EM;
    MARGIN-RIGHT: 0.5EM;
    box-sizing: border-box;
    background:  rgba(255, 255, 255,0.8);

    backdrop-filter: blur(4px);
    border: 1px solid #5284e2;
    border-radius: 3em;

}
.inGame .allTier4{
    margin-top: 5.8em;
    width: inherit;
    MARGIN-LEFT: 0.5EM;
    MARGIN-RIGHT: 0.5EM;
    box-sizing: border-box;
    background:  rgba(255, 255, 255,0.8);

    backdrop-filter: blur(4px);
    border: 1px solid #5284e2;
    border-radius: 3em;

}
.inGame .names{
    width: inherit;
    MARGIN-LEFT: 0.5EM;
    MARGIN-RIGHT: 0.5EM;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inGame  .name{

    border-radius: 1em;
    margin: 0.5em;
    text-align: center;
    opacity: 90%;
  
}
.Tier1 p{
    color: #ffffff;
    margin: 0.3em 0 ;
}

.Tier2 p{
    color: #ffffff;

    margin: 0.3em 0 ;
}

.Tier3 p{
    color: #ffffff;

    margin: 0.3em 0 ;
}

.Tier4 p{
    color: #ffffff;
    margin: 0.3em 0 ;
}
.Tier1{

height: 10vh;
display: flex;
align-items: center;
justify-content: center;
    border-radius: 2em;
    background:  linear-gradient(279.96deg, rgba(255, 236, 69, 0.96) 0%, rgba(254, 237, 86, 0.62) 128.74%);
    text-align: center;
    opacity: 90%;
    backdrop-filter: blur(40px);
  
}
.Tier2{

height: 10vh;
display: flex;
align-items: center;
justify-content: center;
    margin-bottom: 0.5em;
    border-radius: 2em;
    background:  #C7354A;
    text-align: center;
    opacity: 90%;
    backdrop-filter: blur(40px);
  
}
.Tier3{

height: 10vh;
display: flex;
align-items: center;
justify-content: center;
    margin-bottom: 0.5em;
    border-radius: 2em;
    background:  #682356;

    text-align: center;
    opacity: 90%;
    backdrop-filter: blur(40px);
  
}
.Tier4{

height: 10vh;
display: flex;
align-items: center;
justify-content: center;
    margin-bottom: 0.5em;
    border-radius: 2em;
    background:  #1A2849;

    text-align: center;
    opacity: 90%;
    backdrop-filter: blur(40px);
  
}


 p{
    z-index: 250;
    opacity: 100%;
    color: rgb(23, 23, 23);
    font-size: 2rem;
    margin: 0;
}
.logo{
    display: none;
}






@media screen and (max-width: 900px) {
    .inGame  .bigContainer{
        animation-delay: 9s;
    }
    .inGame   .smallContainer{
        height: 60vh;
    }
    .inGame  .smallContainer2{
        height: 60vh;
    }
    p {
        font-size: 0.6rem;
    }
    .inGame  .name{
        margin: 0.5em 0;
    }
    .Tier1{
        height: 3em;
        margin: 2em 0;
    }    .Tier2{
        height: 3em;
        margin: 2em 0;
    }
    .Tier3{
        height: 3em;
        margin: 2em 0;
    }
    .Tier4{
        height: 3em;
        margin: 2em 0;
    }

    .design{
        animation-delay: 0.5s;
    }

    .inGame  .member{
        animation-delay: 3s;
    }
    @keyframes design {
        0%{
           
            opacity: 0%;
            margin-top: -2%;
            transform: scale(0);
            transition: ease-in;
    
        }
        25%{
            opacity: 98%;
        }
    
        90%{
            opacity: 98%;
        }
        100%{
            transition: ease-in;
            margin-top: -32em;
            transform: scale(1);
            
            opacity: 98%;
        }
    }
    @keyframes member {
        0%{
        
            opacity: 0;
            margin-top: -2%;
            transform: scale(0);
        }
        25%{
     
            opacity: 97%;
        }
        90%{
            opacity: 0.98;
        }
        100%{
            margin-top: -25em;
            transform: scale(1);
            
            opacity: 0.98;
        }
  }

  .inGame .logo{
    display: unset;
    transform: scale(0);
    width: 10em;
    mix-blend-mode: color-dodge;
    animation: logo 2s 1 cubic-bezier(0.56, 0.02, 0.87, 0.27) forwards;
    animation-delay: 12s;
    z-index: -100;
  }
    @keyframes logo {
    0%{
    
        opacity: 0;
        margin-bottom: -16em;

    }
    25%{
 
        opacity: 0.37;
    }
    90%{
        opacity: 0.88;
    }
    100%{
       margin-bottom: 0em;
        transform: scale(1);
        
        opacity: 0.94;
    }
}
}